# Confluent Cloud Kafka Credentials
KAFKA_BOOTSTRAP_SERVERS=your_bootstrap_server
KAFKA_API_KEY=your_api_key
KAFKA_API_SECRET=your_api_secret

# Spark Configuration
SPARK_LOG_LEVEL=WARN

# Airflow Configuration (Optional)
AIRFLOW_HOME=./airflow
