# Decision Log (Sensitive Meta-Data)
prn_docs/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.env

# Spark
checkpoint/
spark-warehouse/

# Data
data/
*.db
*.log
audit_log.txt

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
